uvicorn
passlib[bcrypt]~=1.7.4
sqlalchemy~=2.0.23
pydantic[email]~=2.11.4
python-dotenv
psycopg2-binary
alembic~=1.15.2
pydantic-settings~=2.9.1
tenacity
pytest
httpx~=0.25.1
python-jose~=3.4.0
bcrypt
fastapi[standard]~=0.104.1
psycopg
langchain[langchain_core]~=0.3.25
langchain[google-genai]
langchain-pinecone
langchain-mongodb
langchain-openai
langchain-experimental
docling
langchain-core~=0.3.59
langchain-google-genai~=2.1.4
starlette~=0.27.0
PyYAML~=6.0.2
openai~=1.78.0
pinecone~=6.0.2
langsmith~=0.3.42
langchain-community~=0.3.23