# Core async web stack
fastapi
uvicorn
starlette
python-multipart

# Database drivers
asyncpg                   # Async PostgreSQL driver
psycopg2-binary

# ORM & migrations
sqlalchemy
alembic

# Environment & settings
uvicorn[standard]
python-dotenv
pydantic[email]
pydantic-settings

# Security
bcrypt
python-jose

# HTTP client
httpx

langchain-core
langchain-community
langchain-openai
langchain-pinecone
langchain-mongodb
langchain-google-genai
langchain-experimental
langsmith

# Other tools
unidecode
boto3
bidict
passlib
pinecone
protobuf
langchain
pytest
botocore
langchain-core~=0.3.59
langchain-google-genai~=2.1.4
starlette~=0.47.2
PyYAML~=6.0.2
openai~=1.78.0
pinecone~=6.0.2
